@page "/search/{productName}/{query?}"
@using Microsoft.Extensions.Localization
@model SearchModel
@inject IStringLocalizer<SearchModel> Localizer
@{
    Layout = "~/Pages/Shared/_SearchLayout.cshtml";
}
<script src="~/js/search.js" defer></script>
<script src="~/js/searchdropdown.js" defer></script>

<section class="navbar">
    <nav>
        <img class="navbar_img" src="~/biggurka.png" alt="Gurka Logo"/>
        <a asp-page="/features/features" asp-route-productName="@Model.ProductName" asp-route-id="@Model.FirstFeatureId"
           asp-route-featureId="@Model.FirstFeatureId">@Localizer["Home"]</a>
        <form id="searchForm" class="navbar_search_form" method="get" onsubmit="return handleSearch(event)">
            <div class="search-container">
                <input type="hidden" id="productName" name="productName" value="@Model.ProductName"/>
                <i class="fa fa-search search-icon"></i>
                <input class="navbar_search" type="text" id="navbar_search" name="query"
                       placeholder="@Localizer["Features, Scenarios"]..."/>
            </div>
        </form>
    </nav>
</section>

<section class="wrapper">
    <section class="search_menu">
        @if (Model.Query == null)
        {
            <h1 class="search_title">@Localizer["Enter a search term above"]</h1>
        }
        else
        {
            <h1 class="search_title">@Localizer["Search results for:"] "@Model.Query"</h1>
        }
    </section>
    <section class="search_display">
        @if (Model.SearchResults.Any())
        {
            <ul>
                @foreach (var result in Model.SearchResults)
                {
                    <li>
                        <h3>@result.Title</h3>
                        <p>@result.Content</p>
                        <p><strong>FeatureId:</strong>@result.FeatureId</p>
                        <p><strong>Source Field:</strong> @result.SourceField</p>
                        <p><strong>Relevance Score:</strong> @result.Score</p>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No results found for "@Model.Query".</p>
        }
    </section>
</section>