@page "/search/{productName}/{query?}/{filter?}"
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@model SearchModel
@using VizGurka.Pages.Features
@inject IStringLocalizer<SearchModel> Localizer
@{
    Layout = "~/Pages/Shared/_SearchLayout.cshtml";
    var productName = Model.ProductName;
}
<script src="~/js/search.js" defer></script>
<script src="~/js/searchdropdown.js" defer></script>

<section class="navbar">
    <nav>
        <img class="navbar_img" src="~/biggurka.png" alt="Gurka Logo"/>
        <a asp-page="/features/features" asp-route-productName="@Model.ProductName" asp-route-id="@Model.FirstFeatureId"
           asp-route-featureId="@Model.FirstFeatureId">@Localizer["Home"]</a>
        <form id="searchForm" class="navbar_search_form" method="get" onsubmit="return handleSearch(event)">
            <div class="search-container">
                <input type="hidden" id="productName" name="productName" value="@Model.ProductName"/>
                <i class="fa fa-search search-icon"></i>
                <input class="navbar_search" type="text" id="navbar_search" name="query"
                       placeholder=@Model.Query>
            </div>
        </form>
    </nav>
</section>

<section class="wrapper">
    <section class="search_menu">
        @if (Model.Query == null)
        {
            <h1 class="search_title">@Localizer["Enter a search term above"]</h1>
        }
        else
        {
            <h1 class="search_title">@Localizer["Filter by"]</h1>
        }
        <div class="filter_buttons">
            <a href="/search/@Model.ProductName/@Model.Query/features"
               class="@(Model.Filter == "features" ? "active" : "")"><div class="filter_button"><i class="fa-regular fa-file"></i><p>Features</p></div><div class="tag">0</div></a>
            <a href="/search/@Model.ProductName/@Model.Query/scenarios"
               class="@(Model.Filter == "scenarios" ? "active" : "")"><div class="filter_button"><i class="fa-solid fa-list-ol"></i><p>Scenarios</p></div><div class="tag">0</div></a>
            <a href="/search/@Model.ProductName/@Model.Query/tags"
               class="@(Model.Filter == "tags" ? "active" : "")"><div class="filter_button"><i class="fa-solid fa-tag"></i><p>Tags</p></div><div class="tag">0</div></a>
            <a href="/search/@Model.ProductName/@Model.Query/rules"
               class="@(Model.Filter == "rules" ? "active" : "")"><div class="filter_button"><i class="fa-solid fa-gavel"></i><p>Rules</p></div><div class="tag">0</div></a>
        </div>
    </section>
    <section class="search_display">
        @if (Model.SearchResults.Any())
        {
            <ul class="result_list">
                @foreach (var result in Model.SearchResults)
                {
                    <li class="result_card">
                        <div class="card_content">

                            @{
                                var underscoreIndex = result.FileName.IndexOf("_");
                                var trimmedFileName = underscoreIndex >= 0 ? result.FileName.Substring(0, underscoreIndex) : result.FileName;
                            }

                            @if (result.SourceField == "ScenarioName")
                            {
                                var decodedScenarioName = System.Net.WebUtility.UrlDecode(result.Title!);

                                <a href="@Html.Raw($"/features/{trimmedFileName}/{result.ParentFeatureId}/{result.ParentFeatureId}/#{decodedScenarioName}-scenario")">
                                    <h3>@trimmedFileName/@result.Title</h3>
                                </a>
                            }
                            else if (result.SourceField == "FeatureName")
                            {
                                <a href="@Html.Raw($"/features/{trimmedFileName}/{result.FeatureId}/{result.FeatureId}")">
                                    <h3>@trimmedFileName/@result.Title</h3>
                                </a>
                            }
                            else
                            {
                                <a href="@Html.Raw($"/features/{trimmedFileName}/{result.ParentFeatureId}/{result.ParentFeatureId}")">
                                    <h3>@trimmedFileName/@result.Title</h3>
                                </a>
                            }

                            @if (result.Content is not (null or "Unknown"))
                            {
                                <p class="result_content">@result.Content</p>
                            }
                        </div>
                        <div class="card_metadata">
                            @if (result.SourceField is "FeatureName" or "FeatureDescription" )
                            {
                                <p class="result_type">@Localizer["Feature"]</p>
                            }
                            else if (result.SourceField == "ScenarioName")
                            {
                                <p class="result_type">@Localizer["Scenario"]</p>
                            }
                            else if (result.SourceField == "RuleName")
                            {
                                <p class="result_type">@Localizer["Rule"]</p>
                            }
                            else if (result.SourceField == "StepText")
                            {
                                <p class="result_type">@Localizer["Step"]</p>
                            }
                            <div class="tag_box">
                                @if (result.Tags.Any())
                                {
                                    foreach (var tag in @result.Tags)
                                    {
                                        <p class="tag">@tag.Substring(1)</p>
                                    }
                                }
                            </div>
                            @{
                                var fileName = result.FileName;
                                var dateTimeMatch = Regex.Match(fileName, @"\d{4}-\d{2}-\d{2}T\d{2}_\d{2}_\d{2}");
                                if (dateTimeMatch.Success)
                                {
                                    var formattedDateTime = dateTimeMatch.Value
                                        .Replace("T", " ") 
                                        .Replace("_", ":");
                                    <p class="result_type tag">@formattedDateTime</p>
                                }
                                else
                                {
                                    <p class="result_type tag">@fileName</p>
                                }
                            }
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            if (@Model.Query != null)
            {
                <p class="error">No results found for "@Model.Query".</p>
            }
        }
    </section>
</section>