@page "/search/{productName}/{query?}"
@model VizGurka.Pages.Search.SearchModel
@using Microsoft.Extensions.Localization
@{
    Layout = "~/Pages/Shared/_SearchLayout.cshtml";
}
<script src="~/js/search.js" defer></script>
<script src="~/js/searchdropdown.js" defer></script>

<section class="navbar">
    <nav>
        <a asp-page="/features/features" asp-route-productName="@Model.ProductName" asp-route-id="@Model.FirstFeatureId"
            asp-route-featureId="@Model.FirstFeatureId">Home</a>
        <form id="searchForm" class="navbar_search_form" method="get" onsubmit="return handleSearch(event)">
            <input type="hidden" id="productName" name="productName" value="@Model.ProductName" />
            <input class="navbar_search" type="text" id="navbar_search" name="query"
                placeholder="&#x1F50D; Features, Scenarios..." />
        </form>
    </nav>
</section>

<section class="wrapper">
    <section class="search_menu">
        @if (Model.Query == null)
        {
            <h1 class="search_title">Enter a search term above.</h1>
        }
        else
        {
            <h1 class="search_title">Search Results for: "@Model.Query"</h1>
            <a href="#features" class="search_category">Features <span class="count">@Model.FeatureResultCount</span></a>
        }

    </section>
    <section class="search_display">
        @if (Model.FeatureSearchResults.Any())
        {
            <div class="dropdown">
                <div class="dropdown-header arrow-trigger">
                    <h1 id="features" class="search_category">Features <span class="count">@Model.FeatureResultCount</span>
                    </h1>
                    <span class="arrow right"></span>
                </div>
                <div class="dropdown-content">
                    <ul>
                        @foreach (var feature in Model.FeatureSearchResults)
                        {
                            <li>
                                <a asp-page="/features/features" asp-route-productName="@Model.ProductName"
                                    asp-route-id="@feature.Id" asp-route-featureId="@feature.Id">
                                    @feature.Name
                                </a>
                                <h2>@feature.Description</h2>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-header arrow-trigger">
                    <h1 id="scenarios" class="search_category">Scenarios <span
                            class="count">@Model.ScenarioResultCount</span></h1>
                    <span class="arrow right"></span>
                </div>
                <div class="dropdown-content">
                    <ul>
                        @foreach (var scenario in Model.ScenarioSearchResults)
                        {
                            <li>
                                <a asp-page="/features/features" asp-route-productName="@Model.ProductName"
                                    asp-route-id="@Model.Feature.Id">
                                    @scenario.Name
                                </a>
                                <h2>@scenario.Description</h2>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        else
        {
            <p>No results found for "@Model.Query".</p>
        }
    </section>
</section>