@page "/search/{productName}/{query?}"
@model VizGurka.Pages.Search.SearchModel
@using Microsoft.Extensions.Localization
@{
    Layout = "~/Pages/Shared/_SearchLayout.cshtml";
}
<script src="~/js/search.js"></script>
<section class="navbar">
    <nav>
        <a asp-page="/features/features" asp-route-productName="@Model.ProductName" asp-route-id="@Model.FirstFeatureId"
            asp-route-featureId="@Model.FirstFeatureId">Home</a>
        <form id="searchForm" class="navbar_search_form" method="get" onsubmit="return handleSearch(event)">
            <input type="hidden" id="productName" name="productName" value="@Model.ProductName" />
            <input class="navbar_search" type="text" id="navbar_search" name="query"
                placeholder="&#x1F50D; Features, Scenarios..." />
        </form>
    </nav>
</section>
<section>
    @if (Model.Query == null)
    {
        <h1 class="search_title">Enter a search term above.</h1>
    }
    else
    {
        <h1 class="search_title">Search Results for: "@Model.Query"</h1>
    }
    @if (Model.SearchResults.Any())
    {
        <ul>
            @foreach (var feature in Model.SearchResults)
            {
                <li>
                    <a asp-page="/features/features" asp-route-productName="@Model.ProductName" asp-route-id="@feature.Id">
                        @feature.Name
                    </a>
                </li>
            }
        </ul>
        <h1>@Model.FeatureResultCount</h1>
    }
    else
    {
        <p>No results found for "@Model.Query".</p>
    }
</section>