@page "/features/{productName}/{id:guid}/{featureId:guid?}/{rule?}"
@model VizGurka.Pages.Features.FeaturesModel
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<FeaturesModel> Localizer
@{
    Layout = "~/Pages/Shared/_FeaturesLayout.cshtml";
}

<section class="product_section">
    <section class="content_section">
        <div class="content_container">
            @if (Model.SelectedFeature != null)
            {
                <div class="content_container_header">
                    <div class="title_and_link">
                        <h1 class="content_container_title">
                            <img class="container_title_status_img"
                                src="~/icons/@(IconHelper.GetStatusIcon(@Model.SelectedFeature.Status)).svg"
                                alt="status icon" />
                            @Model.SelectedFeature.Name
                        </h1>
                        @if (Model.SelectedFeature.FilePath != null)
                        {
                            var rawFilePath = Model.SelectedFeature.FilePath;
                            var filePath = rawFilePath.StartsWith("/") ? rawFilePath.Replace("/", "") :
                            rawFilePath.Replace("../", "");
                            <a class="github_link" href="@Model.GithubLink/blob/@Model.CommitId/@filePath" target="_blank">
                                <i class="fa fa-github"></i>GitHub</a>
                        }
                    </div>
                    @if (Model.SelectedFeature.Tags.Any())
                    {
                        <ul class="tag_list">
                            @foreach (var tag in Model.SelectedFeature.Tags)
                            {
                                var sanitizedTag = tag.Length > 1 ? tag.Substring(1) : tag;
                                var casedTag = char.ToUpper(sanitizedTag[0]) + sanitizedTag.Substring(1);
                                if (sanitizedTag == "ignore")
                                {
                                    <li class="tag ignore">@casedTag</li>
                                }
                                else if (sanitizedTag == "smoke")
                                {
                                    <li class="tag smoke">@casedTag</li>
                                }
                                else
                                {
                                    <li class="tag">@casedTag</li>
                                }
                            }
                        </ul>
                    }
                    <p class="content_container_duration">Test Duration: @Model.SelectedFeature.TestDuration</p>
                    <div class="content_container_description">
                        @Model.MarkdownStringToHtml(@Model.SelectedFeature.Description ?? string.Empty)</div>
                </div>
                <h2 class="container_scenarios_title">Scenarios</h2>
                <ul class="scenario_list">
                    @foreach (var scenario in Model.SelectedFeature.Scenarios)
                    {
                        <hr />
                        <h2 id="@scenario.Name-scenario" class="container_scenario_name">
                            <img class="container_scenario_status_img"
                                src="~/icons/@(IconHelper.GetStatusIcon(scenario.Status)).svg" alt="status icon" />
                            @scenario.Name
                        </h2>
                        if (scenario.Tags.Any())
                        {
                            <ul class="tag_list scenario_tags">
                                @foreach (var tag in scenario.Tags)
                                {
                                    var sanitizedTag = tag.Length > 1 ? tag.Substring(1) : tag;
                                    var casedTag = char.ToUpper(sanitizedTag[0]) + sanitizedTag.Substring(1);
                                    if (sanitizedTag == "ignore")
                                    {
                                        <li class="tag ignore">@casedTag</li>
                                    }
                                    else if (sanitizedTag == "smoke")
                                    {
                                        <li class="tag smoke">@casedTag</li>
                                    }
                                    else
                                    {
                                        <li class="tag">@casedTag</li>
                                    }
                                }
                            </ul>
                        }
                        <h3 class="container_scenario_duration"><strong>Scenario duration:</strong> @scenario.TestDuration</h3>
                        @foreach (var step in scenario.Steps)
                        {
                            <div class="container_scenario_step">
                                <strong>@step.Kind</strong> @step.Text
                                @if (step.Table != null)
                                {
                                    <div class="container_scenario_table">
                                        @Model.MarkdownStringToHtml(step.Table ?? "")
                                    </div>
                                }
                            </div>
                        }
                    }
                </ul>

                @if (Model.SelectedFeature.Rules.Any())
                {
                    @foreach (var rule in Model.SelectedFeature.Rules)
                    {
                        <div class="container_scenario_rule">
                            <hr />
                            <h3 class="scenario_rule_name" id="@rule.Name-rule">Rule: @rule.Name</h3>
                            @if (rule.Tags.Any())
                            {
                                <ul class="tag_list scenario_tags">
                                    @foreach (var tag in rule.Tags)
                                    {
                                        var sanitizedTag = tag.Length > 1 ? tag.Substring(1) : tag;
                                        var casedTag = char.ToUpper(sanitizedTag[0]) + sanitizedTag.Substring(1);
                                        if (sanitizedTag == "ignore")
                                        {
                                            <li class="tag ignore">@casedTag</li>
                                        }
                                        else if (sanitizedTag == "smoke")
                                        {
                                            <li class="tag smoke">@casedTag</li>
                                        }
                                        else
                                        {
                                            <li class="tag">@casedTag</li>
                                        }
                                    }
                                </ul>
                            }
                            <div class="scenario_rule_description" id="scenario_rule_description">

                                @Model.MarkdownStringToHtml(rule.Description ?? string.Empty)</div>

                        </div>
                        <ul class="scenario_list">
                            @foreach (var scenario in rule.Scenarios)
                            {
                                <hr />
                                <h2 id="@scenario.Name-scenario" class="container_scenario_name">
                                    <img class="container_scenario_status_img"
                                        src="~/icons/@(IconHelper.GetStatusIcon(scenario.Status)).svg" alt="status icon" />
                                    @scenario.Name
                                </h2>
                                if (scenario.Tags.Any())
                                {
                                    <ul class="tag_list scenario_tags">
                                        @foreach (var tag in scenario.Tags)
                                        {
                                            var sanitizedTag = tag.Length > 1 ? tag.Substring(1) : tag;
                                            var casedTag = char.ToUpper(sanitizedTag[0]) + sanitizedTag.Substring(1);
                                            if (sanitizedTag == "ignore")
                                            {
                                                <li class="tag ignore">@casedTag</li>
                                            }
                                            else if (sanitizedTag == "smoke")
                                            {
                                                <li class="tag smoke">@casedTag</li>
                                            }
                                            else
                                            {
                                                <li class="tag">@casedTag</li>
                                            }
                                        }
                                    </ul>
                                }
                                <h3 class="container_scenario_duration"><strong>Scenario duration:</strong> @scenario.TestDuration</h3>
                                @foreach (var step in scenario.Steps)
                                {
                                    <div class="container_scenario_step">
                                        <strong>@step.Kind</strong> @step.Text
                                        @if (step.Table != null)
                                        {
                                            <div class="container_scenario_table">
                                                @Model.MarkdownStringToHtml(step.Table ?? "")
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </ul>
                    }
                }
            }
            else
            {
                <p class="select_feature">@Localizer["Var god välj en egenskap i menyn till vänster"]</p>
            }
        </div>
    </section>
</section>
